backports-abc==0.5
backports.functools-lru-cache==1.5
certifi==2019.9.11
cycler==0.10.0
easydict==1.9
-e git+https://github.com/jwyang/faster-rcnn.pytorch@d9f0fa347d4ce5532429bcc6eb47788e2358a02a#egg=faster_rcnn&subdirectory=lib
functools32==3.2.3.post2
futures==3.3.0
kiwisolver==1.1.0
matplotlib==2.2.4
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.16.5
opencv-python==4.1.1.26
Pillow==6.2.0
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.1.2
scipy==1.0.0b1
singledispatch==3.4.0.3
six==1.12.0
subprocess32==3.5.4
torch==1.0.0
torchvision==0.2.2
tornado==5.1.1
tqdm==4.19.9
